.project-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.project-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #fefefe;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  background: #1f1f1f;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
  color: white;
  margin-bottom: 10px;
}

.project-location,
.project-duration {
  font-size: 0.9rem;
  color: white;
}

.project-details {
  list-style-type: none;
  padding: 0;
  margin: 15px 0;
}

.project-details li {
  margin-bottom: 5px;
  color: white;
}

.project-button {
  display: inline-block;
  padding: 10px 15px;
  background: #4f9eff;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.project-button:hover {
  background: #007acc;
}

/* Fade-in animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Show More Button */
.show-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background: #4f9eff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.show-more-button:hover {
  background: #007acc;
}
